<div class="card">
  <div class="card-header bg-primary text-white">
    {{ title }}
  </div>
  <div class="card-block">
    @if (users.length) {
      <div class="table-responsive">
        <table class="table table-striped m-0">
          <thead>
            <tr>
              <th>{{ headers.id }}</th>
              <th>{{ headers.username }}</th>
              <th>{{ headers.email }}</th>
              <th>{{ headers.memberSince }}</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users; track user.id) {
              <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.memberSince }}</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    } @else {
      <h3 class="p-4">No users found</h3>
    }
  </div>
</div>
<br>
<div class="card mb-4">
  <div class="card-header bg-success text-white">Register user</div>
  <div class="card-body">
    <form (ngSubmit)="registerUser()">
      <div class="mb-3 row">
        <label for="username" class="col-sm-2 col-form-label text-sm-end"
          >Username</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="newUser.username"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label text-sm-end"
          >Email</label
        >
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            name="email"
            [(ngModel)]="newUser.email"
          />
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
