<nav class="navbar navbar-expand navbar-dark bg-dark mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/']">{{ title }}</a>
    <ul class="navbar-nav me-auto">
    </ul>
    <ul class="navbar-nav">
      @if(logged()) {
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ username() }}
        </a>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end">
          <li>
            <!--"['/profile']"-->
            <a
              class="dropdown-item"
              [routerLink]="undefined" 
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              ><i class="fa-solid fa-user"></i> My profile</a
            >
          </li>
          <li>
            <a href="#" class="dropdown-item"
            [routerLink]="['/my-blogs']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
              ><i class="fa-solid fa-book"></i> My blogs</a
            >
          </li>
          <li>
            <a href="#" class="dropdown-item disabled"
              ><i class="fa-solid fa-gear"></i> Settings</a
            >
          </li>
          <li>
            <a href="#" class="dropdown-item text-danger" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
          </li>
        </ul>
      </li>
      } @else {
        <li class="nav-item dropdown">
          <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
          data-bs-auto-close="outside"
        >
          Login
        </a>
        <login class="dropdown-menu p-4 dropdown-menu-end"/>
        </li>
      }
    </ul>
  </div>
</nav>
