<div class="card mb-4">
  <div class="card-header bg-success text-white">Register user</div>
  <div class="card-body">
    <form [formGroup]="userForm" (ngSubmit)="registerUser()">
      <div class="mb-3 row">
        <label for="username" class="col-sm-2 col-form-label text-sm-end"
          >Username</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="username"
            formControlName="username"
            [ngClass]="validClasses(username, 'is-valid', 'is-invalid')"
          />
          @if(username.errors?.['required']) {
          <div class="invalid-feedback">Username cannot be empty</div>
          } @if(username.errors?.['minlength']) {
          <div class="invalid-feedback">
            You must enter at least
            {{ username.errors?.['minlength'].requiredLength - username.errors?.['minlength'].actualLength }}
            characters more.
          </div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label text-sm-end"
          >Email</label
        >
        <div class="col-sm-10">
          <input
            type="email"
            class="form-control"
            name="email"
            formControlName="email"
            [ngClass]="validClasses(email, 'is-valid', 'is-invalid')"
          />
          <p>{{ email.errors | json }}</p>
          @if(email.errors?.['required']) {
          <div class="invalid-feedback">Email cannot be empty</div>
          } @if(email.errors?.['email']) {
          <div class="invalid-feedback">Email format is incorrect</div>
          }
        </div>
      </div>
      <div class="mb-3 row">
        <label for="password" class="col-sm-2 col-form-label text-sm-end"
          >Password</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            name="password"
            class="form-control"
            formControlName="password"
            [ngClass]="validClasses(password, 'is-valid', 'is-invalid')"
          />
          @if(password.errors?.['required']) {
          <div class="invalid-feedback">Password cannot be empty</div>
          } @if(password.errors?.['minlength']) {
          <div class="invalid-feedback">
            You must enter at least
            {{ password.errors?.['minlength'].requiredLength - password.errors?.['minlength'].actualLength }}
            characters more.
          </div>
          }
        </div>
      </div>

      <div class="mb-3 row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
          <button
            type="button"
            class="btn btn-secondary ms-2"
            (click)="resetForm()"
          >
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
