// #blogDataContainer {
//   height: 85vh;
// }

#entries-tab {
  border-left: 0;
  // border-top: 0;
}

.fa-xmark {
  position: absolute;
  right: 18px;
  top: 18px;
  font-size: 25px;
  cursor: pointer;
}

.center {
  width: 50%; /* Set a width for the div */
  margin: 0 auto; /* Set margins to 0 on both sides and auto */
  text-align: center;
  opacity: 50%;
}

// .tab-content {

// }
