<div id="blogDataContainer" class="card mt-0 pt-0">
  @if (blog) {
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button
        class="nav-link active py-3 px-4"
        id="entries-tab"
        data-bs-toggle="tab"
        data-bs-target="#entries-tab-pane"
        type="button"
        role="tab"
        aria-controls="entries-tab-pane"
        aria-selected="true"
      >
        Entries
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link py-3 px-4 position-relative"
        id="comments-tab"
        data-bs-toggle="tab"
        data-bs-target="#comments-tab-pane"
        type="button"
        role="tab"
        aria-controls="comments-tab-pane"
        aria-selected="true"
      >
        Comments <span class="badge text-bg-danger">4</span>
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link py-3 px-4"
        id="stadistics-tab"
        data-bs-toggle="tab"
        data-bs-target="#stadistics-tab-pane"
        type="button"
        role="tab"
        aria-controls="stadistics-tab-pane"
        aria-selected="false"
      >
        Stadistics
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link py-3 px-4"
        id="configuration-tab"
        data-bs-toggle="tab"
        data-bs-target="#configuration-tab-pane"
        type="button"
        role="tab"
        aria-controls="configuration-tab-pane"
        aria-selected="false"
      >
        Settings
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link py-3 px-4"
        id="visit-tab"
        data-bs-toggle="tab"
        data-bs-target="#visit-tab-pane"
        type="button"
        role="tab"
        aria-controls="visit-tab-pane"
        aria-selected="false"
      >
        Visit blog
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button
        class="nav-link py-3 px-4"
        id="media-tab"
        data-bs-toggle="tab"
        data-bs-target="#media-tab-pane"
        type="button"
        role="tab"
        aria-controls="media-tab-pane"
        aria-selected="false"
        disabled
      >
        Media
      </button>
    </li>
    <li class="nav-item">
      <a [routerLink]="undefined" (click)="resetSelectedBlog()"
        ><i class="fa-solid fa-xmark"></i
      ></a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="entries-tab-pane"
      role="tabpanel"
      aria-labelledby="entries-tab"
      tabindex="0"
    >
      <entries-tab />
    </div>
    <div
      class="tab-pane fade show"
      id="comments-tab-pane"
      role="tabpanel"
      aria-labelledby="comments-tab"
      tabindex="0"
    >
      <p class="p-2">hola</p>
    </div>
    <div
      class="tab-pane fade"
      id="stadistics-tab-pane"
      role="tabpanel"
      aria-labelledby="stadistics-tab"
      tabindex="0"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="configuration-tab-pane"
      role="tabpanel"
      aria-labelledby="configuration-tab"
      tabindex="0"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="disabled-tab-pane"
      role="tabpanel"
      aria-labelledby="disabled-tab"
      tabindex="0"
    >
      ...
    </div>
    <div
      class="tab-pane fade"
      id="media-tab-pane"
      role="tabpanel"
      aria-labelledby="media-tab"
      tabindex="0"
    >
      ...
    </div>
  </div>
  } @else {
  <div class="center fs-1 fw-semibold fst-italic">
    Choose one of your blogs!
  </div>
  <div class="center fw-semibold">
    Or <a [routerLink]="['new']">create a new one</a> if you don't have
    any.
  </div>
  }
</div>
