<div class="card">
  <div class="card-header bg-primary text-white">
    {{ user.username }}
  </div>
  <div class="card-block p-3 text-center">
    <div>Email: {{ user.email }}</div>
    <div>Member since: {{ user.memberSince | date }}</div>
    <div>Password: {{ user.password }}</div>
    <div>Updated at: {{ user.updatedAt }}</div>
    @if(user.blogs?.length) {
    <div class="table-responsive">
      <table class="table table-striped m-0">
        <thead>
          <tr>
            <th>{{ headers.id }}</th>
            <th>{{ headers.title }}</th>
            <th>{{ headers.description }}</th>
            <th>{{ headers.created }}</th>
          </tr>
        </thead>
        <tbody>
          @for (blog of user.blogs; track blog.id) {
          <tr>
            <td>{{ blog.id }}</td>
            <td>{{ blog.title }}</td>
            <td>{{ blog.description || "No description" }}</td>
            <td> {{ blog.createdAt | date:'medium':'Europe/Paris' }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
    <p>Has no blogs.</p>
    }
    <div class="mt-3">
      <button type="button" class="btn btn-danger" (click)="goBack()">
        Go back
      </button>
    </div>
  </div>
</div>
