<div class="container">
  <div class="row row-cols-1">
    <div class="col py-2 atCenter">
      <h3 class="fw-normal">Blog settings</h3>
      <h4 class="fw-normal">Title</h4>
      <form [formGroup]="titleForm" (submit)="updateTitle()">
        <div class="mb-3 row mx-0">
          <div class="col-sm-12">
            <input
              type="text"
              class="form-control"
              name="title"
              placeholder="Update your blog's title"
              formControlName="title"
              [ngClass]="validClasses(title, 'is-valid', 'is-invalid')"
            />
            @if(title.errors?.['required']) {
            <div class="invalid-feedback">Title cannot be empty</div>
            } @if(title.errors?.['minlength']) {
            <div class="invalid-feedback">
              You must enter at least
              {{ title.errors?.['minlength'].requiredLength - title.errors?.['minlength'].actualLength }}
              characters more.
            </div>
            } @if(title.errors?.['maxlength']) { Title is too long! Max length
            is 20 characters } @if(title.errors?.['invalidFormat']) {
            <div class="invalid-feedback">
              A blog's title can have alphanumeric characters and one space in
              between each character
            </div>
            } @if(title.errors?.['notUnique']) {
            <div class="invalid-feedback">
              You already have a blog with this name
            </div>
            }
          </div>
        </div>
        <div class="mb-3 row mx-0">
          <div class="col-sm-12">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="titleForm.invalid"
            >
              Update title
            </button>
          </div>
        </div>
      </form>
      <h4 class="fw-normal">Description</h4>
      <form [formGroup]="descriptionForm" (submit)="updateDescription(false)">
        <div class="mb-3 row mx-0">
          <div class="col-sm-12">
            <textarea
              type="text"
              class="form-control"
              name="description"
              placeholder="Update your blog's description"
              formControlName="description"
              [ngClass]="validClasses(description, 'is-valid', 'is-invalid')"
            ></textarea>
            @if(description.errors?.['maxlength']) {
            <div class="invalid-feedback">
              Description may be 70 characters long
            </div>
            }
          </div>
        </div>
        <div class="mb-3 row mx-0">
          <div class="col-sm-12">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="descriptionForm.invalid"
            >
              Update description
            </button>
            <button
              class="btn btn-danger ms-2"
              (click)="updateDescription(true)"
              type="button"
            >
              Delete description
            </button>
          </div>
        </div>
      </form>
      <hr />
      <h3 class="fw-normal">Delete blog</h3>
      <p>
        If you click this button, your blog will be deleted alongside the
        {{ blog!.entries.length }} entries it contains.<br />This action is
        definitive.
      </p>
      <button class="btn btn-danger" type="button" (click)="deleteBlog(blog!.id!)">
        Delete {{ blog!.title }}
      </button>
    </div>
  </div>
</div>
